---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  
   <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
 <div id="gitmentContainer"></div>
 <script>
var gitment = new Gitment({
    owner: 'darlings',
    repo: 'darlings.github.io',
    oauth: {
        client_id: 'f0ef5db2b5f1afb26a63',
        client_secret: 'c0bf2d221a2ec93f51380a8815ddfed12c43bfdb',
    },
});
gitment.render('gitmentContainer');
</script>

</div>
